.food-item{
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(173, 166, 166);
    transition: 0.3s;
    animation: faceIn 1s;
}

.food-item-img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info{
    padding: 20px;
}

.food-name{
    display: flex;
    font-size: 25px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.food-item-desc{
    color: rgb(161, 163, 165);
    font-size: 12px;
}

.food-item-price{
    color: rgb(146, 25, 25);
    font-size: 22px;
    font-weight: 500;
    margin: 10px 10px;
}

.food-item .add{
    height: 20px;
    width: 20px;
    margin-bottom: 25px;
    margin-left: 10px;
    position: absolute;
    cursor: pointer;
}

.food-item-count{
    display: flex;
    flex-direction: row;
    position: absolute;
    
}

.food-item .rem-add{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}

.food-item-info h3{
    font-size: 20px;
}



